/* CONFIGURACIONES GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
label,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--rtc-text-1);
}

:root {
  /* BRANDING COLORS */
  --rtc-color-1: #ffffff;
  --rtc-color-2: #000000;
  --rtc-color-3: #ff0000;
  --rtc-color-4: #cacaca;
  --rtc-color-5: #646464;
  --rtc-color-6: #ffb4b4;


  --rtc-bgColor: var(--rtc-color-1);
  --rtc-bgColorInverted: var(--rtc-color-2)
  --rtc-textColor: var(--rtc-color-2);
  --rtc-textColorInverted: var(--rtc-color-1);
  --rtc-highlightColor: var(--rtc-color-3);
  --rtc-highlightColor2: var(--rtc-color-6);

  /* BORDER*/
  --rtc-border-card: 7px solid var(--rtc-color-6);
  --rtc-border-button: 1.5px solid var(--rtc-color-5);
  --rtc-border-section: 2px solid var(--rtc-color-7);

  /* BORDER RADIUS */
  --rtc-border-radius: 100px;

  /* SPACINGS */
  --rtc-margin-xs: 10px;
  --rtc-margin-s: 20px;
  --rtc-margin-m: 30px;
  --rtc-margin-l: 40px;
  --rtc-margin-xl: 50px;
  --rtc-margin-xxl: 100px;

  --rtc-padding-xs: 10px;
  --rtc-padding-s: 20px;
  --rtc-padding-m: 30px;
  --rtc-padding-l: 40px;
  --rtc-padding-xl: 50px;
  --rtc-padding-xxl: 100px;

  --rtc-gap-xs: 10px;
  --rtc-gap-s: 20px;
  --rtc-gap-m: 30px;
  --rtc-gap-l: 40px;
  --rtc-gap-xl: 50px;
  --rtc-gap-xxl: 75px
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* MAQUETACIÓN */

/* Header */
header {
 font-size: 0.8rem;
 padding: var(--rtc-padding-m) var(--rtc-gap-xl);
 gap: var(--rtc-gap-xl);
 position: relative;
 font-weight: 300;
}

header > div {
  display: flex;
 justify-content: space-between;
 align-items: center;
 gap: var(--rtc-gap-m);
}

header img {
  width: 2em;
  height: 2em;
  
}

header .homeLink {
  cursor: pointer;
}

header img:hover, header a:hover{
  transition: transform 0.2s;
  transform: scale(1.1);
}

.headerSearchContainer {
  flex: 1;
  background-color: var(--rtc-color-4);
  padding: var(--rtc-padding-xs) var(--rtc-padding-m);
  border-radius: var(--rtc-border-radius);
  gap: var(--rtc-gap-s);
}


.headerUserContainer {
  justify-content: end;
}

.hamburgerMenu {
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 100px;
 left: 35px;
 z-index: 1;
 background-color: var(--rtc-color-1);
 padding: 0 20px var(--rtc-padding-l) 0;
}

.hamburgerUser {
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 100px;
 right: 50px;
 z-index: 1;
 background-color: var(--rtc-color-1);
 padding: 0 0 var(--rtc-padding-l) 20px;
}


.hidden {
  display: none
}

header button {
  all: unset; 
  cursor: pointer;
}

.headerSearchContainer input {
  width: 100%;
  border: none;
  background-color: var(--rtc-color-4);
  outline: none;
  font-size: 0.7rem;
}

.headerSearchContainer input::placeholder {
font-size: 0.7rem;
}

@media (max-width: 400px) {

  header {
    gap: 30px;
  }

 .headerSearchContainer {
  padding: 10px;
  gap: 10px;
 }

}

/* Main */

main {
  padding: var(--rtc-padding-xl);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--rtc-gap-m);
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 200px;
  position: relative;

}

.card:hover {
  transition: transform 0.3s;
  transform: scale(1.03);
}

.card:hover .img {
  filter: brightness(65%); /* només enfosqueix la imatge */
  transition: filter 0.3s ease;
}

.imageDiv {
  width: 200px;
  height: 300px;
  position: relative;
}

.imageDiv .img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.circleButton {
  background-color: var(--rtc-bgColor);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}

.circleButton:hover {
  border: 1.5px solid var(--rtc-highlightColor);
  transition: transform 0.2s;
  transform: scale(1.1);
}


.photosCounterButton  {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  gap: 5px;
}

.likesCounterButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  gap: 5px;
}

.likesCounterIcon, .photosCounterIcon {
  width: 20px;
}

.likesCounterSpan, .photosCounterSpan {
  font-size: 10px;
}


.visitLink {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Para hacer que tome como referencia el punto central del elemento y coincida con el centro del contenedor: */
  transform: translate(-50%, -50%);
  background-color: var(--rtc-color-3);
  color: var(--rtc-color-1);
  padding: var(--rtc-padding-xs) var(--rtc-padding-s);
  border-radius: var(--rtc-border-radius);
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@keyframes changeButtonBorder {
  25% {  
  border: 5px solid rgb(255, 175, 175);}

  100% {
  border: 2px solid var(--rtc-color-1);
  }
}

.visitLink:hover {
  animation: changeButtonBorder 0.3s;
  border: 2px solid var(--rtc-color-1);
}

.infoDiv {
  display: flex;
    flex-direction: column;
  flex: 1;
  align-items: center;
  gap: var(--rtc-gap-xs);
  position: relative;
  padding-top: var(--rtc-padding-l);
  padding-bottom: var(--rtc-padding-s);
  font-size: 0.7rem;
}

#userAvatarLink {
  display: flex;
  justify-content: center;
}

#userAvatar {
  width: 60px;
  position: absolute;
  top: -25px;
  background-color: var(--rtc-bgColor);
  border-radius: 50%;
  border: 2px solid red;
}

@keyframes avatarBorderAnimation {
  30% {border: 5px solid rgb(240, 118, 118);
  transform: scale(1.2);}
  100% {border-color:  red;}
  
} 

#userAvatar:hover {
  animation: avatarBorderAnimation 0.5s;
  
}

#downloadDiv {
  display: flex;
  gap: var(--rtc-gap-xs);
}

#downloadLink img {
  width: 15px;
}

/* FOOTER */

footer {
  font-size: 0.6rem;
  padding: var(--rtc-padding-xl);
  display: flex;
  justify-content: center;
}

footer h4 {
  font-weight: 400;
}